table, th, td {
    border: 5px solid black;
    text-align: center;
  }
table, th, td {
    border: 5px solid black;
    text-align: center;
    margin: auto;
    width: 100px; 
    padding: 20px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 100;
         
  }

  .center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }

  img {
    width: 450px;
    border: 10px solid black;
    padding: 0;
  }

  body {

    text-align: center;
    margin-trim: auto;
    min-height: auto;
    
    }
    
    /* Styling */
    
    body {
      margin: none;
      width: 940px; 
      padding: 10px;
      font-family: 'Lexend Deca', sans-serif; 
      color: black;    
    }
    
    body, div, p {
        font-size:  17px;
        font-weight: 400;
    }
@media (min-width: 900px) {
  :root {
    --fs-h1: 1.5rem;
    --fs-h2: 2.25rem;
    --fs-body: 1rem;
    --fs-xl: 4.5rem;
  }
  body {
    height: 100vh;
  }


/**table, th, td {
    border: 5px solid black;
    text-align: center;
  }
table, th, td {
    border: 5px solid black;
    text-align: center;
    margin: auto;
    width: 400px; 
    padding: 20px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 900;
         
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  img {
    width: 270px;
    border: 10px solid black;
  }

  body {

    text-align: center;
    
    }
    
    // Styling //
    
    body {
      margin: auto;
      width: 640px; 
      padding: 50px;
      font-family: 'Lexend Deca', sans-serif; 
      color: black;    
    }
    
    body, div, p {
        font-size:  20px;
        font-weight: 500;
    }**/
