table, th, td {
    border: 5px solid black;
    text-align: center;
  }
table, th, td {
    border: 5px solid black;
    text-align: center;
    margin: auto;
    width: 400px; 
    padding: 20px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 900;
         
  }

  .center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  img {
    width: 470px;
    border: 10px solid black;
    padding: 0;
  }

  body {

    text-align: center;
    min-height: 250px;
    
    }
    
    /* Styling */
    
    body {
      margin: auto;
      width: 640px; 
      padding: 50px;
      font-family: 'Lexend Deca', sans-serif; 
      color: black;    
    }
    
    body, div, p {
        font-size:  20px;
        font-weight: 500;
    }
@media (max-width: 800px) {
  .unit {
    position: absolute;
    left: 3em;
    top: 3em;
  }
}

.unit:hover {
  opacity: 1;
}

.unit label {
  cursor: pointer;
}

.unit input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.unit__toggle {
  cursor: pointer;
  width: 4em;
  border: 2px solid var(--clr-light);
  background: transparent;
  padding: 0;
  border-radius: 100vmax;
  margin: 0 1em;
}

.unit__toggle::after {
  content: '';
  display: block;
  background: var(--clr-light);
  border-radius: 50%;
  height: 1rem;
  margin: 3px;
  margin-left: auto;
  width: 1rem;
}

:checked ~ .unit__toggle::after {
  margin-left: 3px;
}
/**table, th, td {
    border: 5px solid black;
    text-align: center;
  }
table, th, td {
    border: 5px solid black;
    text-align: center;
    margin: auto;
    width: 400px; 
    padding: 20px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 900;
         
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  img {
    width: 270px;
    border: 10px solid black;
  }

  body {

    text-align: center;
    
    }
    
    body {
      margin: auto;
      width: 640px; 
      padding: 50px;
      font-family: 'Lexend Deca', sans-serif; 
      color: black;    
    }
    
    body, div, p {
        font-size:  20px;
        font-weight: 500;
    }
**/
